body{
  margin:0;
  color:#ffffff;
  font-family:'Georgia',serif;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
}

.page{
  position:absolute;
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  opacity:0;
  pointer-events:none;
  transition:opacity 1s;
  text-align:center;
  padding:40px;
}

.page.show{
  opacity:1;
  pointer-events:auto;
}

.envelope{
  background:#c0392b;
  padding:40px 70px;
  border-radius:12px;
  font-size:24px;
  cursor:pointer;
  box-shadow:0 0 25px rgba(255,255,255,.2);
}

button{
  margin-top:30px;
  padding:10px 25px;
  border:none;
  border-radius:20px;
  background:#c0392b;
  color:white;
  cursor:pointer;
}

.sign{
  margin-top:30px;
  font-style:italic;
}

.card{
  position:relative;
  background:#000000;
  padding:45px;
  max-width:420px;
  border-radius:18px;
  box-shadow:0 10px 40px rgba(0,0,0,.15);
}

/* Glow layer */
.card::before{
  content:"";
  position:absolute;
  inset:-2px;
  border-radius:20px;
  background:rgb(255, 255, 255);
  z-index:-1;
  filter:blur(8px);
  animation: glowMove 6s linear infinite;
  opacity:0.8;
}

@keyframes glowMove{
  0%{filter:blur(8px) hue-rotate(0deg)}
  100%{filter:blur(8px) hue-rotate(360deg)}
}


@keyframes float{
  0%{transform:translateY(0)}
  50%{transform:translateY(-10px)}
  100%{transform:translateY(0)}
}

.bg-video{
  position:fixed;
  inset:0;
  width:100%;
  height:100%;
  object-fit:cover;
  z-index:-2;
}

/* hover effect */
button:hover{
  transform:translateY(-3px) scale(1.05);
  box-shadow:0 12px 35px rgba(255,154,158,.7);
}

/* click effect */
button:active{
  transform:scale(.95);
}

/* glowing ring */
button::after{
  content:"";
  position:absolute;
  inset:-4px;
  border-radius:40px;
  background:linear-gradient(135deg,#ff9a9e,#fad0c4,#fbc2eb);
  filter:blur(12px);
  opacity:.6;
  z-index:-1;
}
